# IntelliJ / Android / Kotlin / Gradle
*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# IntelliJ output directory
/out/

# === Secret Configs (Spring Boot) ===
/javaServer/src/main/resources/application.properties

# === Environment & credentials ===
.env
*.key
*.pem
*.crt
*.keystore